ALPACA_API_KEY=
ALPACA_SECRET_KEY=
R2_ACCOUNT_ID=
R2_BUCKET=newleaf
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_PUBLIC_BASE_URL=https://pub-04bbb919022645b3a3f318b2ebdf48c0.r2.dev
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
FIREBASE_PROJECT_ID=newleaf-trading
FIRESTORE_DATABASE_ID=newleafdb
SENTIMENT_GROK_API_KEY=
SENTIMENT_GEMINI_API_KEY=
PIPELINE_CONCURRENCY=5
